In [25]:
# n=int(input("inter the n number"))
n=68;
for i in range(65,n+1):#number of rows
    for j in range(65,i+1): #number of col
        print(chr(j),end=" ")
    print()

A
A B
A B C
A B C D

In [10]:
n=int(input("enter the number of rows"))#number of rows
#space controll loop and number of rows
for i in range(1,n+1):
    #space print n range to 1
    print("  " * (n-i),end="")
    #number of col
    for j in range(1,2*i):
        #print old value pattern
        print(j,end=" ")
    print()

enter the number of rows5
        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9